<!DOCTYPE html>
<html>
<head>
	<title>BON'R</title>
	<meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<link rel="stylesheet" href="css/normalize.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- <link rel="stylesheet" href="css/style.css"> -->
	<!-- <link rel="shortcut icon" type="image/ico" href="img/favicon.ico"> -->
</head>

<body>


	<header class="fixed">
		<h1> </h1>
		<a id="nav-toggle" class="hamburgermenu" href="#"><span></span></a>


        <div class="dropdownmenu">
            <div class="menuitem"><span><a href="../front-end-bonr/submit.html">SUBMIT FOSSILS</span></a></div>
            <div class="menuitem"><span><a href="../front-end-bonr/index.html">BROWSE FOSSILS</span></a></div>
            <div class="menuitem"><span>LOGOUT</span></div>
        </div>
	</header>

	<main id="main-container">

	</main>
	
	<!-- Templates -->

	<!--PROFILE-->
	<script id="tpl-profile" type="text/html">
		<section id="profile">
			<div id="profile-content">
				<div id="twitterHandle" class="fixed">@fossil4life</div>

				<img class="sampleImage" id="profile-image" src="<%= data.image[0] %>">

				<div id="thumbContainer">
					<img src="<%= data.image[1] %>">
					<img src="<%= data.image[2] %>">
				</div>
				<div id="profile-text">
							<%= data.profileText %>
				</div>
			</div>
		</section>
		<section id="bottom" class="fixed">
			<div id="scrollLead" class="">
				<div class="arrow"></div>
			</div>
			<div id="vote-container" class="">
				<div class="vote-button" id="no">
				</div>
				<div class="vote-button" id="yes">
				</div>
			</div>
		</section>

	</script>

	<!--VOTE CONFIRM-->
	<script id="tpl-vote-confirm" type="text/html">
		<section id="vote-confirm">
			<h2>you voted</h2>
			<h1><%= data %></h2>

			<div class="vote-button" id="next">NEXT FOSSIL</div>
		</section>
	</script>
	
	<script type="text/javascript" src="js/jquery-min.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/hammer.min.js"></script>
	<script type="text/javascript" src="js/swipe.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/nav.js"></script>



</body>
</html>